@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  /* 在全局CSS或Tailwind中重置 */
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: none;
  padding: 0;
}